@page
@model AuctionKoi.WebApplication.Pages.ForgotPassword.ForgotPasswordModel
@{
    Layout = "~/Pages/Shared/login-layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Forgot Password</h4>
                                        <form method="post">
                                            <!-- Input for Email -->
                                            <div class="form-group">
                                                <input type="email" asp-for="UserEmail" class="form-style" placeholder="Email" required>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <!-- Input for Phone Number -->
                                            <div class="form-group mt-2">
                                                <input type="tel" asp-for="PhoneNumber" class="form-style" placeholder="Phone Number" required>
                                                <i class="input-icon uil uil-phone"></i>
                                            </div>
                                            <button type="submit" class="btn mt-4">Submit</button>
                                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                            {
                                                <p class="text-danger mt-3">@Model.ErrorMessage</p>
                                            }
                                        </form>
                                        <p class="mb-0 mt-4 text-center">
                                            Remembered your password? <a asp-page="../Login/Login" class="link">Login</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
