@page
@model AuctionKoi.WebApplication.Pages.ForgotPassword.ResetPasswordModel
@{
    Layout = "~/Pages/Shared/Register_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper" id="card-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Reset Password</h4>
                                        <form method="post">
                                            <div class="form-group">
                                                <input type="email" asp-for="UserEmail" class="form-style" placeholder="Email" readonly>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" asp-for="NewPassword" class="form-style" placeholder="New Password" required>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button type="submit" class="btn mt-4">Reset Password</button>
                                            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                            {
                                                <p class="text-danger mt-3">@Model.ErrorMessage</p>
                                            }
                                            @if (!string.IsNullOrEmpty(Model.SuccessMessage))
                                            {
                                                <p class="text-success mt-3">@Model.SuccessMessage</p>
                                            }
                                        </form>
                                        <p class="mb-0 mt-4 text-center">
                                            <a asp-page="../Login/Login" class="link">Back to Login</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
