@page
@{
    Layout = "~/Pages/Shared/_LayoutUserPage.cshtml";
}
@section PageSpecificStyles {
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<body>
    <section>
        <div class="bg-white">
            <div class="khung mx-auto space-y-8 ">
                <div class="hang1 flex h-70 w-full items-center p-6 mt-8 justify-center  ">
                    <div class="baoquanh">
                        <img src="../Front_End/anh/ca5.jpg" alt="Koi Fish" class="anh_ca">
                    </div>
                    <div class="text p-2 w-60%">
                        <b>Duy Mạnh </b> <br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores optio eius distinctio officiis voluptates animi nemo architecto. Quae quidem explicabo reiciendis aperiam laudantium odio ducimus, est cupiditate alias? Quam.
                    </div>
                </div>
                <div class="hang1 flex h-70 w-full items-center p-6 mt-8 justify-center ">
                    <div class="text p-2 w-60%"><b>Duy Mạnh </b> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores optio eius distinctio officiis voluptates animi nemo architecto. Quae quidem explicabo reiciendis aperiam laudantium odio ducimus, est cupiditate alias? Quam.</div>
                    <div class="baoquanh">
                        <img src="../Front_End/anh/ca1.jpg" alt="Koi Fish" class="anh_ca">
                    </div>
                </div>
                <div class="hang1 flex h-70 w-full items-center p-6 mt-8 justify-center ">
                    <div class="baoquanh">
                        <img src="../Front_End/anh/ca2.jpg" alt="Koi Fish" class="anh_ca">
                    </div>
                    <div class="text p-2 w-60%"><b>Duy Mạnh </b> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores optio eius distinctio officiis voluptates animi nemo architecto. Quae quidem explicabo reiciendis aperiam laudantium odio ducimus, est cupiditate alias? Quam.</div>
                </div>
                <div class="hang1 flex h-70 w-full items-center p-6 mt-8 justify-center ">
                    <div class="text p-2 w-60%"><b>Duy Mạnh </b> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores optio eius distinctio officiis voluptates animi nemo architecto. Quae quidem explicabo reiciendis aperiam laudantium odio ducimus, est cupiditate alias? Quam.</div>
                    <div class="baoquanh">
                        <img src="../Front_End/anh/ca3.jpg" alt="Koi Fish" class="anh_ca">
                    </div>
                </div>
                <div class="hang1 flex h-70 w-full items-center p-6 mt-8 justify-center ">
                    <div class="text p-2 w-60%"><b>Duy Mạnh </b> <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci maiores optio eius distinctio officiis voluptates animi nemo architecto. Quae quidem explicabo reiciendis aperiam laudantium odio ducimus, est cupiditate alias? Quam.</div>
                    <div class="baoquanh">
                        <img src="../Front_End/anh/ca4.jpg" alt="Koi Fish" class="anh_ca">
                    </div>
                </div>
            </div>

            <div class="readmore text-center">
                <div class="justify-center ml-4">
                    <a href="aboutt.html">
                        <button class="text-black border-2 border-black mb-8 bg-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out">
                            Read more
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </section>
</body>