@page
@model AuctionKoi.WebApplication.Pages.Register.RegisterModel
@{
    Layout = "~/Pages/Shared/Register_Layout.cshtml";
}

<!doctype html>
<div class="row full-height justify-content-center">
    <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper" id="card-wrapper">
                    <div class="card-front">
                        <div class="center-wrap">
                            <div class="section text-center"> 
                                <h4 class="mb-3 pb-3">Sign Up</h4>

                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" asp-for="FullName" class="form-style" placeholder="Full Name" required>
                                        <i class="input-icon uil uil-user"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="tel" asp-for="PhoneNumber" class="form-style" placeholder="Phone Number" required>
                                        <i class="input-icon uil uil-phone"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="email" asp-for="Email" class="form-style" placeholder="Email" required>
                                        <i class="input-icon uil uil-at"></i>
                                    </div>
                                    <div class="form-group mt-2">
                                        <input type="password" asp-for="Password" class="form-style" placeholder="Password" required>
                                        <i class="input-icon uil uil-lock-alt"></i>
                                    </div>
                                    <button type="submit" class="btn mt-4">Register</button>
                                </form>
                                <p class="mb-0 mt-4 text-center">
                                    Already have an account? <a href="../Login/login" class="link" id="toLogin">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
