@page  
@{
    Layout = "~/Pages/Shared/_LayoutTB.cshtml";
}
<div class="modal-content">
    <h2>Thông Báo</h2>
    <p>Bạn muốn đăng nhập với tư cách khác hay là với tư cách quản lý?</p>
    <a href="../Login/login"><button class="button-alternative">Đăng nhập với tư cách khác</button></a>
    <a href="../Login/login"><button class="button-admin">Đăng nhập với tư cách quản lý</button></a>
</div>